/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    background-color: #eeeeee;
}

/*Header*/

.header-title {
    text-align: center;
    padding: 30px;
}

.header-content {
    text-align: center;
}

/*Calculator*/

.display-container {
    border: 1px solid gray;
    color: rgb(53, 52, 52);
    font-size: 30px;
    padding-top: 16%;
    text-align: center;
    background-color: #ffffff;
    width: 250px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.calculator {
    border: 2px solid rgb(71, 70, 70);
    background-color: rgb(211, 212, 209);
    height: 450px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.clear {
    background-color: rgb(202, 78, 76);
}

.clear:hover {
    background-color: rgb(252, 97, 95);
    cursor: pointer;
}

.clear:active {
    background-color: rgb(150, 57, 56);
}

.operator {
    background-color: #247BA0;
}

.operator:hover {
    background-color: rgb(45, 154, 201);
    cursor: pointer;
}

.operator:active {
    background-color: rgb(24, 85, 110);
    cursor: pointer;
}

.num, .decimal {
    background-color: #434244;
    color: #ffffff;
}

.num:hover, .decimal:hover {
    background-color: #5c5b5e;
    color: #ffffff;
}

.num:active, .decimal:active {
    background-color: #3a3939;
    color: #ffffff;
}

.equals {
    background-color: rgb(207, 182, 82);
}

.equals:hover {
    background-color: #FFE066;
}

.equals:active {
    background-color: rgb(153, 134, 60);
}

.btn {
    text-align: center;
    font-size: 40px;
    border-radius: 2px;
}

.btn:hover {
    cursor: default;
}

/*Screen sizes*/

@media only screen and (max-height: 650px) {
    header {
        display: none;
    }
}

/*Grid*/

.buttons {
    position: relative;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 280px;
    display: grid;
    grid-gap: 0.1em;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: '. . . clear'
                         'seven eight nine plus'
                         'four five six subt'
                         'one two three mult'
                         'zer dec equ divi';
}

.btn1 {
    grid-area: one;
}

.btn2 {
    grid-area: two;
}

.btn3 {
    grid-area: three;
}

.btn4 {
    grid-area: four;
}

.btn5 {
    grid-area: five;
}

.btn6 {
    grid-area: six;
}

.btn7 {
    grid-area: seven;
}

.btn8 {
    grid-area: eight;
}

.btn9 {
    grid-area: nine;
}

.btn0 {
    grid-area: zer;
}

.decimal {
    grid-area: dec;
}

.equals {
    grid-area: equ;
}

.add {
    grid-area: plus;
}

.subtract {
    grid-area: subt;
}

.multiply {
    grid-area: mult;
}

.divide {
    grid-area: divi;
}

.clear {
    grid-area: clear;
}